django==4.2.7
django-extensions
ipython
django-debug-toolbar
django-admin-rangefilter
django-import-export
django-storages
boto3
django-crispy-forms==2.1
crispy-bootstrap4
Celery
requests
django-filter

flake8
flake8-builtins
flake8-print
flake8-breakpoint