{% extends 'base.html' %}
{% load crispy_forms_filters %}

{%  block title %}
    ContactUs List
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-12">
        <form method="get">
        {{ filter.form|crispy }}
        <input type="submit"/>
        </form>
    </div>
</div>


<a href="{% url 'currency:contactus-create' %}">Create</a><br>

{% for contactus in page_obj %}
    Id: {{ contactus.id }}
    email: {{ contactus.email }}
    subject: {{ contactus.subject }}
    body : {{ contactus.body }}
    <a href="{% url 'currency:contactus-update' contactus.id %}">Edit</a>
    <a href="{% url 'currency:contactus-delete' contactus.id %}">Delete</a>
    <a href="{% url 'currency:contactus-details' contactus.id %}">Details</a>
    <br>
{% endfor %}
    <div class="row">
        <div class="col-12">
            {% include 'includes/pagination.html' %}
        </div>
    </div>
{% endblock content %}