{% extends 'base.html' %}

{%  block title %}
    ContactUs List
{% endblock title %}

{% block content %}


<table>
  <tr style="background-color: grey">
    <th> id </th>
    <th> email_from </th>
    <th> subject </th>
    <th> message </th>
  </tr>
  {% for contact_us in feedbacks %}
    <tr>
      <td>{{ contact_us.id }}</td>
      <td>{{ contact_us.email_from }}</td>
      <td>{{ contact_us.subject }}</td>
      <td>{{ contact_us.message }}</td>
    </tr>
  {% endfor %}
</table>


{% endblock content %}