{% extends 'base.html' %}

{%  block title %}
    Source List
{% endblock title %}

{% block content %}

<a href="{% url 'currency:source-create' %}">Create</a><br>

{% for source in object_list %}
    id: {{ source.id }}
    source_url: {{ source.source_url }}
    name: {{ source.name }}
    <a href="{% url 'currency:source-update' source.id %}">Edit</a>
    <a href="{% url 'currency:source-delete' source.id %}">Delete</a>
    <a href="{% url 'currency:source-details' source.id %}">Details</a>
    <br>
{% endfor %}

{% endblock content %}

